name: main

# Automatically cancel a previous run.
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '*'

jobs:

  run-type-checking:

    name: Run tests for type-checking
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
          allow-prereleases: true
          cache: pip
      - run: pip install tox-uv
      - run: tox -e typing

  run-tests:

    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          allow-prereleases: true
      - uses: prefix-dev/setup-pixi@v0.9.1
        with:
          pixi-version: v0.39.4
          run-install: false

      - run: pip install tox-uv

      - name: Run tests.
        shell: bash -l {0}
        run: tox -e test -- --cov=./ --cov-report=xml

      - name: Upload coverage reports of tests.
        uses: codecov/codecov-action@v5
